@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansCJKkr-Light.woff2") format("woff2"),
      url("../fonts/NotoSansCJKkr-Light.ttf") format("truetype"),
      url("../fonts/NotoSansCJKkr-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansCJKkr-Regular.woff2") format("woff2"),
      url("../fonts/NotoSansCJKkr-Regular.ttf") format("truetype"),
      url("../fonts/NotoSansCJKkr-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansCJKkr-Medium.woff2") format("woff2"),
      url("../fonts/NotoSansCJKkr-Medium.ttf") format("truetype"),
      url("../fonts/NotoSansCJKkr-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansCJKkr-Bold.woff2") format("woff2"),
  url("../fonts/NotoSansCJKkr-Bold.ttf") format("truetype"),
  url("../fonts/NotoSansCJKkr-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansCJKkr-Black.woff2") format("woff2"),
      url("../fonts/NotoSansCJKkr-Black.ttf") format("truetype"),
      url("../fonts/NotoSansCJKkr-Black.otf") format("opentype");
}



/* ----- reset ----- */

body{
  overflow-y: scroll;
  position:relative;
  width:100%;
  height:100%;
}


body{
  -webkit-text-size-adjust:none
}
/* input:checked[type=checkbox]{
  background-color:#666;
  -webkit-appearance:checkbox
}
input[type=text],input[type=password],input[type=submit],input[type=search],input[type=tel],input[type=email],html input[type=button],input[type=reset]{
  -webkit-appearance:none;
  border-radius:0
}
input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance:none
}

address,caption,cite,code,dfn,em,var{
  font-style:normal;
  font-weight:normal
}

@media only screen and (min-width: 768px){
}
@media only screen and (max-width: 360px){
  .container-main .section_careers .tit_careers,.container-main .section_careers .txt_g2{
    width:100%;
    min-width:unset
  }
} */











* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-size: 16px;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

html,
button,
input,
select,
th,
td,
textarea {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

fieldset,
img {
  border: 0 none;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

button,
input,
select,
textarea {
  vertical-align: middle;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #CCC;
  background-color: #FFF;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}
:-moz-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #CCC;
  background-color: #FFF;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}
::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #CCC;
  background-color: #FFF;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}
:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #CCC;
  background-color: #FFF;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

label {
  cursor: pointer;
}

select {
  width: 100%;
  height: auto;
  line-height: normal;
  font-family: inherit;
  border: 0;
  filter:alpha(opacity=0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
} 

table,
label,
figure,
caption {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
}

button {
  cursor: pointer;
  border: 0 none;
  background: transparent;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:active {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}
a:link, a:visited {
  text-decoration: none;
}






/* ----- common css ----- */

.sr_only {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ellipsis {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}/* 한 줄 이상 */

.ellipsis_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}/* 두 줄 이상 */


/* icon  */
[class*="ico_"] {
  display: inline-block;
} 

.ico_comm {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	vertical-align: top;
	background-image: url(../images/ico_comm.png);
  background-size: 150px 20px;
  -webkit-background-size: 150px 20px;
	background-repeat: no-repeat;
}

.ico_landing {
  width: 15px;
  height: 15px;
  background-position: 0 0;
}

.ico_arr_r {
  width: 7px;
  height: 11px;
  background-position: -20px 0;
}

.ico_arr_l {
  width: 10px;
  height: 16px;
  margin-top: 5px;
  background-position: -45px 0;
}

.ico_arr_d {
  width: 11px;
  height: 7px;
  background-position: -30px 0;
}

.ico_arr_u {
  width: 11px;
  height: 7px;
  background-position: -30px -10px;
}

.ico_x {
  width: 16px;
  height: 16px;
  margin-top: 5px;
  background-position: -60px 0;
}

.ico_upload {
  width: 20px;
  height: 20px;
  background-position: -100px 0;
}

.ico_srch {
  width: 19px;
  height: 19px;
  background-position: -125px 0;
}

.img_chk {
  display: inline-block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  padding: 0 0 42px 0;
}

.img_alert {
  display: inline-block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  padding: 64px 0 42px;
}

.img_error {
  display: inline-block;
  width: 339px;
  height: 190px;
}



/* button */

.btn_full {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.8px;
  color: #FFF;;
}

.btn_inline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 12px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
}

.btn_confirm {
  border-radius: 10px;
}

.b_blue {
  background-color: #5498DA;
}
.b_orange {
  background-color: #F78600
}
.b_green {
  background-color: #29C759;
}
.b_emerald {
  background-color: #29C7BE;
}


/* ----- style ----- */

/* text */

.txt_title {
  display: inline-block;
  font-size: 24px;
  letter-spacing: -0.8px;
}

.txt_subtitle {
  display: inline-block;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -0.8px;
}

.txt_common {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: #494949;
}

.txt_item {
  display: inline-block;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: -1px;
}

.txt_bold {
  font-weight: 900;
}
.txt_medium {
  font-weight: 700;
}
.txt_regular {
  font-weight: 500;
}
.txt_light {
  font-weight: 400;
}

.txt_g1 {
  color: #333;
}
.txt_g2 {
  color: #494949;
}
.txt_g3 {
  color: #585858;
}
.txt_g4 {
  color: #84878A;
}
.txt_g5 {
  color: #CCC;
}

.txt_r {
  color: #FF4D4D;
}

.txt_b {
  color: #5498DA;
}




/* layout */

#mWrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #FFF;
}

.inner_p {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* header */

#mHeader {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  border-bottom: 2px solid #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
}
.m_header_type1 .inner_p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.m_header_type2 .inner_p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.m_header_type1 .txt_title,
.m_header_type2 .txt_title {
  display: inline-block;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.8px;
  color: #333;
}

/* main */

#mMain {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}
#mMain .inner_p {
  height: 100%;
}

.m_srch_type1 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F4F5F7;
}

.form_srch_type1 {
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
}

.inner_srch_type1 {
  overflow: hidden;
  position: relative;
  height: 80px;
  padding: 25px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input_srch_type1 {
  overflow: visible;
  width: 100%;
  padding: 0 0 0 60px;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
  color: #333;
  background-color: #FFF;
}

.m_srch_type2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form_srch_type2 {
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
}

.input_srch_type2 {
  overflow: visible;
  position: relative;
  width: calc(100% - 30px);
  margin: 14px 0 0 30px;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.input_srch_type1:focus,
.input_srch_type2:focus {
  outline: none;
}

.btn_srch_type1 {
  position: absolute;
  top: 30px;
  left: 35px;
  width: 19px;
  height: 19px;
}

.btn_srch_type2 {
  position: absolute;
  top: 21px;
  left: 0;
  width: 19px;
  height: 19px;
}

.btn_receipt {
  width: 100%;
  height: 33px;
  margin-top: 21px;
}
.btn_receipt img {
  float: right;
  width: 140px;
  height: 33px;
  vertical-align: middle;
}




.list_customer {
  position: relative;
  margin: 50px 0 78px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list_customer li {
  padding: 22px 0;
}
.list_customer li + li {
  border-top: 2px solid #EBEBEB;
}
.list_customer li:last-child {
  border-bottom: 2px solid #EBEBEB;
}

.link_customer {
  width: 100%;
}

.list_customer .txt_subtitle {
  display: inline-block;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -0.8px;
  color: #333;
}

.list_customer .ico_landing {
  position: absolute;
  right: 0;
  margin-top: 8px;
} 

.list_customer .ico_arr_r {
  position: absolute;
  right: 0;
  margin-top: 9px;
}

.list_customer .ico_arr_d,
.list_qna .ico_arr_d {
  position: absolute;
  right: 0;
  margin-top: 12px;
}









.list_qna {
  margin: 50px 0 78px;
}




.wrap_note {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrap_note > strong {
  display: inline-block;
  margin: 30px 0 21px 0;
}


.list_note {
  text-align: left;
}

.list_note li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 4px;
  margin-top: 12px;
  background: url(../images/img_dot.png) no-repeat center center;
}

.list_note li + li {
  margin-top: 28px;
}
.txt_note {
  display: inline-block;
  width: calc(100% - 15px);
  padding: 0 0 0 15px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #56585B;
}

.wrap_popup {
  z-index: 7721;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.inner_popup {
  z-index: 128;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 40px);
  left: 50%;
  top: 75px;
  margin: 0 auto;
  padding: 40px 20px 48px 20px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  color: #4C4C4C;
  background-color: #FFF;
}

.cont_popup {
  width: 100%;
  margin: 15px 0 48px 0;
  padding: 24px 0 0 0;
  border-top: 2px solid #333;
}





.txt_popup {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  word-break: break-all;
  color: #494949;
}

.btn_okay {
  width: 162px;
  height: 46px;
  margin: 40px 0 0;
  font-size: 17px;
  line-height: 26px;
  color:#FFF;
  background-color:#606C79;
}

.wrap_close {
  z-index: 7721;
  position: relative;
  width: 1280px;
  height: 55px;
  margin: 10px auto 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: url(../images/btn_close.png) no-repeat center center;
}

.wrap_dimmed {
  z-index: 64;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
}









/* 2depth */
.list_qna {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list_qna li.list_q {
  position: relative;
  margin: 0 40px;
  padding: 22px 0;
  cursor: pointer;
  border-bottom: 2px solid #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list_qna li.list_q.is_active {
  border: none;
}
.list_q.is_active .ico_arr_d {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.list_qna li.list_a {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 62px 40px 76px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F4F5F7;
}

.list_ask {
  margin: 50px 0 0 0;
}

/* #selectOption {
  width: 100%;
  padding: 10px 10px 0;
  border: 1px solid #29C759;
  font-weight: 700;
  font-size: 20px;
  color: #CCC;
  background: url(../images/img_select.png) no-repeat 95% 90%;
  font-family: inherit;
  
} */

.wrap_result {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 88px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #FFF;
}

/* 검색 결과 없음 */
.cont_result_1 {
  width: 100%;
  height: 100%;
  margin: 37px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #EBEBEB;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}
.cont_result_1 > .txt_common {
  line-height: 1.8;
  letter-spacing: -0.8px;
}

/* 문의 접수 완료 */
.cont_result_2 {
  width: 100%;
  height: 100%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}
.cont_result_2 > .txt_common {
  line-height: 1.7;
  letter-spacing: -0.8px;
}























.wrap_receipt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 35px 0 200px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: -0.8px;
  color: #333;
}

.wrap_table {
  overflow: hidden;
  width: 100%;
  margin: 0 0 50px 0;
}

.wrap_table {
  border-bottom: 1px solid #eee;
}

.wrap_table td {
  width: 50%;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  font-size: 1.125em;
}

.wrap_table td:nth-child(1) {
  text-align: left;
  width: 40%;
}
.wrap_table td:nth-child(2) {
  text-align: right;
  width: 60%;
}








.list_important {
  margin: 28px 0 0 0;
}


.list_important li::before {
  content: '\203B';
  position: absolute;
  left: 40px;
  font-size: 18px;
  margin: 1px 0 0 0;
}

.txt_important {
  display: inline-block;
  width: calc(100% - 20px);
  padding: 0 0 0 20px;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #333;
}





.wrap_error {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.wrap_error .inner_p {
  display: flex;
  align-items: center;
  flex-direction: column;
}







/* footer */

#mFooter {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  background-color: #F4F5F7;
}
#mFooter .inner_footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 92px 26px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list_footer {
  text-overflow: inherit;
  position: relative;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 0 82px;
  text-align: center;
  line-height: 1.7em;
  word-break: keep-all;
}

.txt_footer {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.8px;
  color: #56585B;
}

.txt_footer:nth-child(1)::after,
.txt_footer:nth-child(2)::after,
.txt_footer:nth-child(6)::after {
  content: '|';
  margin: 0 13px;
  font-size: 15px;
  color: #56585B;
}

.txt_footer:nth-child(4),
.txt_footer:nth-child(5),
.txt_footer:nth-child(8) {
  display: block;
}

.txt_copyright {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.8px;
  color: #85878A;
}












/* media query */

@media screen and (min-width: 361px) and (max-width: 390px) {
  .txt_footer:nth-child(2)::after {
    content: '';
  }
}

@media screen and (max-width: 360px) {
  .txt_footer {
    font-size: 13px;
  }
  .txt_footer:nth-child(1)::after,
  .txt_footer:nth-child(2)::after,
  .txt_footer:nth-child(3)::after,
  .txt_footer:nth-child(4)::after,
  .txt_footer:nth-child(5)::after,
  .txt_footer:nth-child(6)::after,
  .txt_footer:nth-child(7)::after,
  .txt_footer:nth-child(8)::after {
    content: '';
  }

  .txt_copyright {
    font-size: 14px;
  }
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #3b4ef8;
  border-top-color: #e2e5fe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3b4ef8;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}