@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansCJKkr-Light.woff2") format("woff2"),
      url("../fonts/NotoSansCJKkr-Light.ttf") format("truetype"),
      url("../fonts/NotoSansCJKkr-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansCJKkr-Regular.woff2") format("woff2"),
      url("../fonts/NotoSansCJKkr-Regular.ttf") format("truetype"),
      url("../fonts/NotoSansCJKkr-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansCJKkr-Medium.woff2") format("woff2"),
      url("../fonts/NotoSansCJKkr-Medium.ttf") format("truetype"),
      url("../fonts/NotoSansCJKkr-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansCJKkr-Bold.woff2") format("woff2"),
  url("../fonts/NotoSansCJKkr-Bold.ttf") format("truetype"),
  url("../fonts/NotoSansCJKkr-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansCJKkr-Black.woff2") format("woff2"),
      url("../fonts/NotoSansCJKkr-Black.ttf") format("truetype"),
      url("../fonts/NotoSansCJKkr-Black.otf") format("opentype");
}





/* ----- reset ----- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin:0;
  padding:0
}

html, 
body {
  position:relative;
  width:100%;
  height:100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  font-size: 16px;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

fieldset,
img {
  border: 0 none;
}

ol,
ul,
li {
  list-style: none;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

button {
  border: 0 none;
  cursor: pointer;
  background-color: transparent;
}

button,
input,
select,
textarea {
  vertical-align: middle;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::placeholder {
  font-size: 16px;
  /* font-size: 1em; */
  font-weight: 500;
  letter-spacing: -1px;
  color: #CCC;
  background-color: #FFF;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}
:-moz-input-placeholder {
  font-size: 16px; /* font-size: 1em; */
  font-weight: 500;
  letter-spacing: -1px;
  color: #CCC;
  background-color: #FFF;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}
::-webkit-input-placeholder {
  font-size: 16px; /* font-size: 1em; */
  font-weight: 500;
  letter-spacing: -1px;
  color: #CCC;
  background-color: #FFF;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}
:-ms-input-placeholder {
  font-size: 16px; /* font-size: 1em; */
  font-weight: 500;
  letter-spacing: -1px;
  color: #CCC;
  background-color: #FFF;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

input:checked[type=checkbox] {
  -webkit-appearance: checkbox;
}

input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email],
input[type=button],
input[type=reset] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  border: none;
  resize: none;
  outline: none;
  background-color: transparent;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

label {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  filter: alpha(opacity=0);
  width: 100%;
  height: auto;
  border: 0;
  line-height: normal;
  font-family: inherit;
}
select::-ms-expand {
  display: none;
}

table,
label,
figure,
caption {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
}

button {
  cursor: pointer;
  border: 0 none;
  background: transparent;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:active {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}

/* IE에서 br 태그 이슈 대응 */
br {
  font-family: 'Dotum';
}





/* ----- common css ----- */

.sr_only {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ellipsis {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}/* 한 줄 이상 */

.ellipsis_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}/* 두 줄 이상 */



/* icon  */

[class*="ico_"] {
  display: inline-block;
} 

.ico_comm {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	vertical-align: top;
	background-image: url(../images/ico_comm.png);
  background-size: 120px 20px;
  -webkit-background-size: 120px 20px;
	background-repeat: no-repeat;
}

.ico_landing {
  width: 15px;
  height: 15px;
  background-position: 0 0;
}

.ico_arr_r {
  width: 7px;
  height: 11px;
  background-position: -20px 0;
}

.ico_arr_l {
  width: 10px;
  height: 16px;
  margin-top: 5px;
  background-position: -45px 0;
}

.ico_prev {
  width: 10px;
  height: 15px;
  margin: 2px 5px 0 0;
  background-position: -85px 0;
}

.ico_arr_d {
  width: 11px;
  height: 7px;
  background-position: -30px 0;
}

.ico_arr_u {
  width: 11px;
  height: 7px;
  background-position: -30px -10px;
}

.ico_x {
  width: 16px;
  height: 16px;
  margin-top: 5px;
  background-position: -60px 0;
}

.ico_srch {
  width: 19px;
  height: 19px;
  background-position: -100px 0;
}

.ico_top,
.ico_bottom {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}



/* img */

.img_chk {
  display: inline-block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.img_alert {
  display: inline-block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  padding-bottom: 19px;
}

.img_error {
  display: inline-block;
  width: 170px;
  height: 95px;
  padding: 14px 0 68px 0;
}



/* button */

.m_main.p_fixed .wrap_btn {
  position: absolute;
  width: 100%;
  bottom: 50px;
  padding: 0 0 50px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap_btn {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 50px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_full {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-flex-align: center;
  justify-content: center;
  width: 100%;
  height: 58px;
  padding: 17px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em; /* font-size: 16px; */
  font-weight: 500;
  letter-spacing: -0.4px;
  color: #FFF;
}
.btn_full.disabled {
  color: #CCC;
  background-color: #F4F5F7;
}

.btn_confirm {
  border-radius: 5px;
}

.btn_inline {
  display: inline-block;
  min-width: 70px;
  padding: 5px 0;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.813em; /* font-size: 13px; */
  font-weight: 700;
  text-align: center;
  color: #FFF;
}

#btnTop {
  z-index: 7721;
  display: inline-block;
  opacity: 0;
  visibility: visible;
  position: fixed;
  width: 38px;
  height: 38px;
  bottom: 82px;
  right: 20px;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: opacity .5s, visibility .5s;
  text-align: center;
  font-size: 24px;
  color: #FFF;
  background-color: #CCC;
}

#btnBottom {
  z-index: 7721;
  display: inline-block;
  opacity: 0;
  visibility: visible;
  position: fixed;
  width: 38px;
  height: 38px;
  bottom: 38px;
  right: 20px;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: opacity .5s, visibility .5s;
  text-align: center;
  font-size: 24px;
  color: #FFF;
  background-color: #CCC;
}

.showButton {
  opacity: 1 !important;
  visibility: visible !important;
}

.b_blue {
  background-color: #5498DA;
}
.b_orange {
  background-color: #F78600
}
.b_green {
  background-color: #29C759;
}
.b_emerald {
  background-color: #29C7BE;
}





/* ----- style ----- */

/* text */

.tit_maintit {
  display: inline-block;
  /* font-size: 1.25em; */
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -0.4px;
}

.tit_subtit {
  display: inline-block;
  font-size: 1.063em; /* font-size: 17px; */
  font-weight: 700;
  letter-spacing: -0.4px;
}

.tit_result {
  display: inline-block;
  font-size: 1em; /* font-size: 16px; */
  font-weight: 700;
  letter-spacing: -0.4px;
}

.txt_common {
  display: inline-block;
  font-size: 0.938em; /* font-size: 15px; */
  font-weight: 500;
  letter-spacing: -0.4px;
  color: #333;
}
.txt_common.upload {
  color: #333;
}

.txt_result {
  display: inline-block;
  font-size: 0.875em; /* font-size: 14px; */
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.4px;
  color: #494949;
}

.txt_article {
  display: inline-block;
  width: 100%;
  font-size: 0.813em; /* font-size: 13px; */
  font-weight: 500;
  letter-spacing: -0.4px;
}

.txt_status {
  display: inline-block;
  padding-top: 6px;
  vertical-align: top;
  font-size: 0.813em; /* font-size: 13px; */
  font-weight: 500;
  letter-spacing: -0.4px;
  color: #85878A;
}
.txt_status::after {
  clear: both;
}

.txt_file {
  display: block;
  font-size: 0.875em; /* font-size: 14px; */
  font-weight: 400;
  color: #CCC;
}/* 첨부파일명 */

.txt_count {
  float: right;
  padding-top: 5px;
  font-size: 0.75em; /* font-size: 12px; */
  font-weight: 400;
  color: #CCC;
}

.txt_bold {
  font-weight: 700;
}
.txt_medium {
  font-weight: 500;
}
.txt_regular {
  font-weight: 400;
}
.txt_light {
  font-weight: 300;
}

.txt_g1 {
  color: #333;
}
.txt_g2 {
  color: #494949;
}
.txt_g3 {
  color: #585858;
}
.txt_g4 {
  color: #84878A;
}
.txt_g5 {
  color: #CCC;
}

.txt_r {
  color: #FF4D4D;
}

.txt_b {
  color: #5498DA;
}



/* layout */

#mWrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #FFF;
}

.inner_p {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.p_bottom {
  padding-bottom: 60px;
}



/* header */

#mHeader {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 52px;
  left: 0;
  top: 0;
  border-bottom: 1px solid #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
}

.m_header_type1 .inner_p {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-flex-align: center;
  justify-content: center;
  height: 52px;
}/* m_header_type1 이전/닫기 버튼 없는 상태 */

.m_header_type2 .inner_p {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 52px;
}/* m_header_type2 이전/닫기 버튼 있는 상태 */

.m_header_type1 .tit_maintit,
.m_header_type2 .tit_maintit {
  display: inline-block;
  color: #333;
}



/* main */

#mMain {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 52px 0 0 0;
}

.m_input_type1 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F4F5F7;
}/* FAQ 검색창 */

.m_input_type2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}/* border-bottom */

.m_input_type3 {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 18px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}/* border(문의하기 내용입력) */

.wrap_form {
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
}

.input_srch_type1 {
  overflow: visible;
  position: relative;
  width: calc(100% - 40px);
  margin: 20px;
  padding: 8px 15px;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.063em; /* font-size: 17px; */
  font-weight: 700;
  color: #333;
  background-color: #FFF;
}/* FAQ 검색창 */

.btn_srch_type1 {
  z-index: 1;
  position: absolute;
  top: 32px;
  right: 35px;
  width: 19px;
  height: 19px;
}

.form_input_type2 {
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 55px;
}/* 구글영수증번호 검색 */

.input_srch_type2 {
  overflow: visible;
  position: relative;
  width: calc(100% - 28px);
  margin: 20px 28px 0 0;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875em; /* font-size: 14px; */
  font-weight: 700;
  color: #333;
}/* 구글영수증번호 검색 */

.input_srch_type2::placeholder {
  font-size: 14px;
  /* font-size: 0.875em; */
  letter-spacing: -1px;
}
.input_srch_type2::-moz-input-placeholder {
  font-size: 14px;
  /* font-size: 0.875em; */
  letter-spacing: -1px;
}
.input_srch_type2::-webkit-input-placeholder {
  font-size: 14px;
  /* font-size: 0.875em; */
  letter-spacing: -1px;
}
.input_srch_type2:-ms-input-placeholder {
  font-size: 14px;
  /* font-size: 0.875em; */
  letter-spacing: -1px;
}

.btn_srch_type2 {
  position: absolute;
  top: 18px;
  right: 0;
  width: 19px;
  height: 19px;
}

.input_txt_type1 {
  overflow: visible;
  position: relative; 
  width: 100%;
  height: 55px;
  padding: 0 0 0 4px;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.063em; /* font-size: 17px; */
  font-weight: 500;
  color: #333;
}/* 문의 제목 입력 */

.input_txt_type1::placeholder {
  font-size: 17px;
  /* font-size: 1.063em; */
  letter-spacing: -1px;
  color: #CCC;
}
.input_txt_type1::-moz-input-placeholder {
  font-size: 17px;
  /* font-size: 1.063em; */
  letter-spacing: -1px;
  color: #CCC;
}
.input_txt_type1::-webkit-input-placeholder {
  font-size: 17px;
  /* font-size: 1.063em; */
  letter-spacing: -1px;
  color: #CCC;
}
.input_txt_type1:-ms-input-placeholder {
  font-size: 17px;
  /* font-size: 1.063em; */
  letter-spacing: -1px;
  color: #CCC;
}

.input_txt_type2 {
  display: block;
  width: 100%;
  min-height: 300px;
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875em; /* font-size: 14px; */
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  background-clip: padding-box;
  background-color: #FFF;
}/* 문의하기 내용입력 */

.input_txt_type2::placeholder {
  font-size: 14px;
  /* font-size: 0.875em; */
  letter-spacing: -1px;
}
.input_txt_type2::-moz-input-placeholder {
  font-size: 14px;
  /* font-size: 0.875em; */
  letter-spacing: -1px;
}
.input_txt_type2::-webkit-input-placeholder {
  font-size: 14px;
  /* font-size: 0.875em; */
  letter-spacing: -1px;
}
.input_txt_type2:-ms-input-placeholder {
  font-size: 14px;
  /* font-size: 0.875em; */
  letter-spacing: -1px;
}

.select_option {
  width: 100%;
  padding: 16px 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  /* font-size: 1.063em; */
  font-weight: 500;
  color: #CCC;
  background: url(../images/img_select.png) no-repeat 100% 60%;
  background-size: 11px 7px;
}/* 문의유형 선택 */

.input_srch_type1:focus,
.input_srch_type2:focus,
.input_txt_type1:focus,
.input_txt_type2:focus,
.select_option {
  outline: none;
}

.list_customer {
  position: relative;
  padding: 30px 0 60px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list_customer > li {
  padding: 15px 0;
}
.list_customer > li + li {
  border-top: 1px solid #EBEBEB;
}
.list_customer > li:last-child {
  border-bottom: 1px solid #EBEBEB;
}

.link_customer {
  width: 100%;
}

.list_customer .tit_subtit {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  color: #333;
}

.list_customer .ico_landing {
  position: absolute;
  right: 0;
  margin-top: 5px;
} 

.list_customer .ico_arr_r {
  position: absolute;
  right: 0;
  margin-top: 9px;
}

.list_customer .ico_arr_d,
.list_qna .ico_arr_d {
  position: absolute;
  right: 0;
  margin-top: 12px;
}

.wrap_note {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}/* 유의사항 */

.cont_note {
  margin: 50px 0 60px;
}

.cont_note > strong {
  display: inline-block;
  margin: 0 0 12px 0;
  font-weight: 700;
}

.list_note {
  text-align: left;
}

.list_note li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 4px;
  margin-top: 8px;
  background: url(../images/img_dot.png) no-repeat center center;
}

.list_note li + li {
  margin-top: 24px;
}

.txt_note {
  display: inline-block;
  width: calc(100% - 15px);
  padding: 0 0 0 15px;
  font-size: 0.750em; /* font-size: 12px; */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
  color: #56585B;
}

.wrap_upload {
  position: relative;
  margin: 30px 0 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap_file {
  position: relative;
  margin: 15px 0;
}

.btn_upload {
  width: 48px;
  height: 48px;
  border-radius: 3px;
  background: #F4F5F7 url(../images/img_upload.png) no-repeat center center;
}

.btn_upload + .btn_upload {
  margin-left: 10px;
}

.list_qna {
  position: relative;
  padding: 30px 0 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list_qna li.list_q { 
  position: relative;
  margin: 0 20px;
  padding: 15px 0;
  cursor: pointer;
  border-bottom: 1px solid #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list_qna li.list_q.is_active {
  border: none;
}
.list_q.is_active .ico_arr_d {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.txt_q {
  display: inline-block;
  font-size: 0.938em; /* font-size: 15px; */
  font-weight: 700;
  color: #333;
}

.list_qna li.list_a {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px 50px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F4F5F7;
}

.list_chk {
  position: relative;
  margin: 30px 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list_chk li.list_title {
  position: relative;
  margin: 0 20px;
  padding: 15px 0;
  cursor: pointer;
  border-bottom: 1px solid #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list_chk .wrap_status {
  position: relative;
  width: 100%;
}

.list_chk .wrap_title {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.wrap_title > .txt_common {
  width: calc(100% - 20px);
  font-weight: 700;
}

.wrap_title > .ico_arr_d {
  position: absolute;
  width: 11px;
  height: 7px;
  right: 0;
  top: 50%;
  margin-top: 3px;
}

.list_chk li.list_title.is_active {
  border: none;
}

.list_title.is_active .ico_arr_d {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.list_chk li.list_article {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 32px 20px 34px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #F4F5F7;
}

.wrap_process {
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  border-top: 2px dotted #CCC;
}

.wrap_process > .txt_article {
  font-weight: 700;
  color: #5498dA;
}

.wrap_result {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 42px 0 50px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
}

.wrap_result > .tit_maintit {
  color: #333;
}

.cont_result_1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-flex-align: center;
  justify-content: center;
  width: 100%;
  margin: 18px 0 0 0;
  padding: 50% 0;
  border-top: 1px solid #EBEBEB;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}/* 검색 결과 없음(border 존재) */

.cont_result_2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-flex-align: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 108px);
  padding: 50% 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  /* background-color: pink; */
}/* 문의 접수 완료, 문의 내역 없음 */

.wrap_receipt {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.938em; /* font-size: 15px; */
  font-weight: 400;
  letter-spacing: -0.8px;
  color: #333;
}

.btn_receipt {
  width: 100%;
  height: 33px;
  margin: 20px 0 0 0;
}

.btn_receipt img {
  float: right;
  width: 140px;
  height: 33px;
  vertical-align: middle;
}

.wrap_table {
  overflow: hidden;
  width: 100%;
  margin: 30px 0 60px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap_table {
  border-bottom: 1px solid #eee;
}

.wrap_table td {
  width: 50%;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.wrap_table td:nth-child(1) {
  text-align: left;
  width: 42%;
}
.wrap_table td:nth-child(2) {
  text-align: right;
  width: 58%;
}

.list_important {
  position: relative;
  width: 100%;
  margin: 22px 0 0 0;
}

.ico_emph {
  display: inline-block;
  vertical-align: top;
  font-size: 0.813em; /* font-size: 13px; */
  font-weight: 500;
  color: #333;
}

.txt_important {
  display: inline-block;
  width: calc(100% - 30px);
  font-size: 0.813em; /* font-size: 13px; */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
  color: #333;
}

.wrap_error {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cont_error {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-flex-align: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 210px);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.txt_error {
  display: inline-block;
  font-size: 0.938em; /* font-size: 15px; */
  font-weight: 500;
  letter-spacing: -0.4px;
  color: #494949;
}



/* popup */

.wrap_popup {
  z-index: 7721;
  display: none;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.inner_popup {
  z-index: 128;
  overflow-y: scroll;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 40px);
  max-height: calc(100vh - 50px);
  left: 50%;
  top: 40px;
  margin: 0 auto;
  padding: 40px 20px 45px 20px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%) ;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  color: #4C4C4C;
  background-color: #FFF;
}
.inner_popup > strong {
  letter-spacing: -1.2px;
}
.inner_popup > .wrap_btn {
  margin: 60px 0 0 0;
  padding: 0;
}

.cont_popup {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 24px 0 0 0;
  border-top: 2px solid #333;
}

.wrap_close {
  z-index: 7721;
  position: relative;
  width: 1280px;
  height: 55px;
  margin: 10px auto 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: url(../images/btn_close.png) no-repeat center center;
}

.wrap_dimmed {
  z-index: 64;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
}



/* footer */

#mFooter {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  color: #56585B;
  background-color: #F4F5F7;
}

#mFooter .inner_footer {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-flex-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 46px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list_footer {
  text-overflow: inherit;
  position: relative;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 0 82px;
  text-align: center;
  line-height: 1.5em;
  word-break: keep-all;
}

/* 모바일 safari 대응 */
.txt_block {
  pointer-events: none;
  text-decoration:none;
  color: #56585B !important;
}

/* 모바일 safari 대응 */
.list_footer > span,
.list_footer > a,
.txt_footer {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #56585B !important;
}

.txt_footer:nth-child(1)::after,
.txt_footer:nth-child(2)::after,
.txt_footer:nth-child(6)::after {
  content: '|';
  margin: 0 13px;
  font-size: 15px;
  color: #56585B;
}

.txt_footer:nth-child(4),
.txt_footer:nth-child(5),
.txt_footer:nth-child(8) {
  display: block;
}

.txt_copyright {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  /* letter-spacing: -0.8px; */
  color: #85878A;
}



/* loading */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #F1F1F1;
  border-top-color: #5498DA;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: animate-preloader 1s linear infinite;
  -moz-animation: animate-preloader 1s linear infinite;
  -o-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}





/* ----- media query ----- */

@media screen and (min-width: 300px) and (max-width: 453px) {
  .txt_footer:nth-child(2)::after {
    content: '';
  }
}

/* 세로형 */
@media (orientation: portrait) {
  #mMain.p_fixed {
    overflow: hidden;
    position: fixed;
  }
}

/* 가로형 */
@media (orientation: landscape) {
  .wrap_result,
  .wrap_receipt,
  .wrap_error {
    height: 100%;
  }

  .wrap_result {
    padding: 0;
  }

  .cont_result_1 {
    padding: 20% 0;
  }
  .cont_result_2 {
    padding: 10% 0;
  }

  .cont_error {
    padding: 0 0 10% 0;
  }

  .m_main.p_fixed .wrap_btn {
    position: relative;
  }
  .m_main.p_fixed .wrap_result .wrap_btn,
  .m_main.p_fixed .wrap_receipt .wrap_btn,
  .m_main.p_fixed .wrap_error .wrap_btn {
    padding: 60px 0 0 0;
  }
}