@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/NotoSansCJKkr-Light.woff2') format('woff2'),
    url('../fonts/NotoSansCJKkr-Light.ttf') format('truetype'),
    url('../fonts/NotoSansCJKkr-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/NotoSansCJKkr-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansCJKkr-Regular.ttf') format('truetype'),
    url('../fonts/NotoSansCJKkr-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/NotoSansCJKkr-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansCJKkr-Medium.ttf') format('truetype'),
    url('../fonts/NotoSansCJKkr-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/NotoSansCJKkr-Bold.woff2') format('woff2'),
    url('../fonts/NotoSansCJKkr-Bold.ttf') format('truetype'),
    url('../fonts/NotoSansCJKkr-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/NotoSansCJKkr-Black.woff2') format('woff2'),
    url('../fonts/NotoSansCJKkr-Black.ttf') format('truetype'),
    url('../fonts/NotoSansCJKkr-Black.otf') format('opentype');
  font-style: normal;
  font-weight: 900;
  font-display: block;
}
