$black: #000;
$primary: #333;
$secondary: #494949;
$tertiary: #ccc;

$dark-grey: #565858;
$light-grey: #ebebeb;
$grey: #88898c;
$bg-grey: #f4f5f7;

$blue: #5498da;
$green: #29c759;
$emerald: #29c7be;
$orange: #f78600;
$red: #ff4d4d;
$white: #fff;
