$font-main: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;

$letter-spacing-2: -0.2px;
$letter-spacing-4: -0.4px;

$line-height-10: 1em;
$line-height-14: 1.4em;
$line-height-15: 1.5em;
$line-height-20: 2em;
